.food,
.pizza,
.wings,
.biryani  {
    height: auto;
    width: 55%;
}

.home {
    color: #ffffff;
    background-color: rgb(130, 130, 200);
    font-size: 20px;
}

.top-home {
    color: #ffffff;
    background-color: rgb(130, 130, 200);
    font-size: 20px;
    float: right;
}

.page-link {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 42px;
    font-family: Garamond, 'Times New Roman', Georgia;
    text-align: center;
    background-color: hsl(182, 25%, 50%);
    color: rgb(100, 70, 55);
}

h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: forestgreen;
}

h3 {
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(30, 25, 90);
    color: khaki;
}

h4 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: goldenrod;
}

p {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    font-style: oblique;
}

li {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 12px 0;
}